<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <div id="app">
      <div>
        <input type="text" v-model="message">
        <h1>{{ message }}</h1>
        <button v-on:click='reverseMessage'>メッセージ反転</button>
      </div>
      <div>
        <h3>クリックして数字を増やす</h3>
        <p>{{ number }}回クリックされました</p>
        <button v-on:click='countUp(3)'>数字を増やす</button>
      </div>
      <div>
        <h3>数字を増やして表示を変える</h3>
        <p>{{ counter }}</p>
        <p>{{ lessThanThree }}</p>
        <button @click="counter += 1">+1</button>
      </div>
      <div>
        <h3>リンク</h3>
        <a :href="url">Google</a>
        <a :href="twitterObject">Twitter</a>
      </div>
      <div>
        <h3>マウスをのせると反応する処理と反応をさせない処理</h3>
        <p>X:{{x}},Y:{{y}}</p>
        <p v-on:mousemove="changeMousePosition(4, $event)">マウスをのせてください</p>
        <span v-on:mousemove="noEvent">マウス反応させない</span></p>
        <span v-on:mousemove.stop>マウス反応させない</span></p>
      </div>
      <div>
        <h3>スペースとエンターのキー入力でアラートダイアログが出る</h3>
        <input type="text" v-on:keyup.space.enter="myAlert">
      </div>
      <div>
        <h3>v-forでオブジェクトを繰り返し表示</h3>
        <ol>
          <li v-for="(Object, index) in Objects">
            {{ index }}: {{ Object.item }}
          </li>
        </ol>
      </div>
      <div>
        <h1 :style="styleObject">HELLO</h1>
      </div>
      <div>
        <p>{{ name }}</p>
        <button @click="name = 'まつだ'">名前を変更</button>
        <button @click="destroy">インスタンスを破壊</button>
      </div>
      <template v-for="Object in Objects">
        <li>
          {{ Object }}
        </li>
        <hr>
      </template>
      <hello></hello>
      <hello></hello>
      <hello></hello>
      <hello></hello> 
    </div>

    <script>
      Vue.component('hello', {
        template: '<p>こんにちは</p>'
      });

      new Vue({
        el: '#app',
        data: {
          name: 'あああああ',
          message: 'hello world!',
          number: 0,
          url: 'https://google.com',
          twitterObject: {
            url: 'https://twitter.com',
            id: 31
          },
          x: 0,
          y: 0,
          counter: 0,
          Objects: [
            { item: 'そのいち' },
            { item: 'そのに' },
            { item: 'そのさん' }
          ],
          styleObject: {
            color: 'red',
            'background-color': 'yellow'
          } 
        },
        computed: {
          lessThanThree: function() {
            console.log('test');
            return this.counter > 3 ? '3より上' : '3未満'
          }
        },
        methods: {
          reverseMessage: function() {
            this.message = this.message.split('').reverse().join('')
          },
          countUp: function(times) {
            this.number = this.number +1 * times;
          },
          changeMousePosition: function(divideNumber, event) {
            this.x = event.clientX / divideNumber;
            this.y = event.clientY / divideNumber;
          },
          noEvent: function(event) {
            event.stopPropagation()
          },
          myAlert: function() {
            alert('アラート');
          },
          destroy: function() {
            this.$destroy()
          }
        },
        beforeCreate: function() {
          console.log('beforeCreate');
        },
        created: function() {
          console.log('cerated');
        },
        beforeMount: function() {
          console.log('beforeMount');
        },
        mounted: function() {
          console.log('mounted');
        },
        beforeUpdate: function() {
          console.log('beforeUpdate');
        },
        updated: function() {
          console.log('updated');
        },
        beforeDestroy: function() {
          console.log('beforeDestory');
        },
        destroyed: function() {
          console.log('destroyed');
        },
      })
    </script>
  </body>
</html>
